* {
    font-family: 'Rubik Vinyl', cursive;
}

.primary-color {
    color: #eaff32;
}

.second-color {
    color: #969696;
}

.color-destak {
    color: #d4ff00f9;
}

.bg-color-dark {
    background-color: rgba(0, 0, 0, 0.9);
}

.color-light {
    color: #d2d2d2;
}


/* NAVBAR */

#navbar {
    border-bottom: 2px solid rgb(231, 252, 0);
}

#navbar:hover {
    color: rgb(255, 255, 255);
}

#navbar a {
    font-family: sans-serif;
}

#navbar a:hover {
    color: white;*
    transition: 0.5s;
}

#navbar a.active {
    border-bottom: 1px solid yellow;
}

.bi-list { 
    color: #eaff32;
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    margin-left: 0.5em;
    width: 45px;
}

.navbar-brand span {
    color: rgb(255, 255, 255);
    font-family: 'Rubik Vinyl', cursive;    
    font-size: 1.5em;
    margin-left: 0.5em;
}

.navbar-brand span:hover {
    color: #eaff32;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1em;
}

/* SLIDER */

#slider {
    margin-top: 8em;
    margin-bottom: 1em;
}

#slider .carousel-caption {
    bottom: 3em;
}

#slider .carousel-caption h5 {
    font-family: sans-serif;
    font-size: 2.5em;
    text-shadow: 2px 2px black;
}

.btn {
    border-radius: 0;
    font-family: sans-serif;

}

#slider .btn {
    padding: 0.3em 0.8em;
    margin-top: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    border: none;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: rgba(255, 255, 45, 0.622);
    font-size: 3em;
}

.carousel-indicators [data-bs-target] {
    background-color: #cbc833b7;
    opacity: 0.8;
}

.carousel-indicators .active {
    background-color: #000;
}


@media (min-width: 768px) {
    
}