* {
    font-family: 'Rubik Vinyl', cursive;
}

.primary-color {
    color: #eaff32;
}

.secondary-color {
    color: #969696;
}

.color-destak {
    color: #d4ff00f9;
}

.bg-color-dark {
    background-color: rgb(4, 4, 4);
}

.color-light {
    color: #8b8b8b;
}


/* NAVBAR */

#navbar {
    border-bottom: 1px solid rgb(231, 252, 0);
}

#navbar:hover {
    color: rgb(255, 255, 255);
}

#navbar a {
    font-family: sans-serif;
}

#navbar a:hover {
    color: white;
    transition: 0.5s;
}

#navbar a.active {
    border-bottom: 1px solid yellow;
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    margin-left: 0.5em;
    width: 40px;
}

.navbar-brand span {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 1.5em;
    margin-left: 0.5em;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1em;
}

body {
    background-color: rgb(75, 75, 75);
}

/* SLIDER */

#slider {
    margin-top: 8em;
    margin-bottom: 1em;
}

#slider .carousel-caption {
    bottom: 3em;
}

#slider .carousel-caption h5 {
    font-family: sans-serif;
    font-size: 2.5em;
    text-shadow: 2px 2px black;
}

.btn {
    border-radius: 0;
    font-family: sans-serif;

}

#slider .btn {
    font-size: 1em;
    margin-top: 1em;
    padding: 0.3em 0.8em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    border: none;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: rgba(255, 255, 45, 0.622);
    font-size: 3em;
}

.carousel-indicators [data-bs-target] {
    background-color: #000;
    cursor: pointer;
    opacity: 0.8;
}

.visually-hidden {
    display: none;
}

.carousel-indicators .active {
    background-color: #cbc833b7;
}

/* MINI BANNER*/

#mini-banners {
    margin-bottom: 4em;
}

#mini-banners .card {
    background-color: #000;
    border: 2px solid white;
    border-radius: 100%;
    cursor: pointer;
    height: 370px;
    margin-bottom: 1em;
    padding: 2em 0.3em;
    width: 370px;
}

#mini-banners .card:hover {
    background-color: #e8e8e8;
    border: 3px solid yellow;
    transition: 1s;
    zoom: 110%;
}

#mini-banners i {
    font-size: 4em;
}

#mini-banners .card-title {
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 1.5em;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.798);
}

#mini-banners .card-text {
    font-family: Arial, Helvetica, sans-serif;
}

#mini-banners .btn {
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
}

/* cardapio*/

#cart-container {
    margin-bottom: 4em;
}

.title {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 0.4em;
    position: relative;
    text-shadow: 1px 1px black;
}

.title::before {
    border-top: 4px solid white;
    bottom: 2em;
    content: "";
    position: absolute;
    width: 75px;
}

.subtitle {
    color: rgba(255, 255, 255, 0.628);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

.dropdown .btn {
    align-content: center;
    background-color: #f4f4f4;
    color: #000;
    font-weight: bold;
    justify-content: space-between;
    margin-left: 1em;
}

.dropdown-item {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#cart-images {
    margin-top: 2em;
}

#cart-images .col-md-4 {
    cursor: pointer;
    position: relative;
}

#cart-images .col-md-4:hover>.banner-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    transition: 0.5s;
    width: 100%;
}

.img-items {
    border-radius: 100%;
    height: 360px;
    width: 350px;
}

.banner-content h3,
p {
    font-family: monospace;
    text-align: center;
}

/* pedido */

#pedido {
    background-color: #00000096;
    margin: auto;
    padding: 2em 2em .7em 2em;
    width: 80%;
}

.subtitle a .bi-whatsapp {
    color: #eaff32;

}

#pedido .form-label {
    color: white;
    font-family: monospace;
    margin-bottom: -4px;
    margin-top: 0.8em;
}

#pedido input {
    font-family: Arial, Helvetica, sans-serif;

}

.options-items {
    height: 12.5em;
    padding: 1.4em;
}

.form-select {
    color: #8b9004;
    font-family: monospace;
    font-weight: bold;
    height: 2.3em;
    margin-right: 7em;
    margin-bottom: 0.5em;
    width: 10em;
}

.form-select option {
    color: #282922a2;
    font-family: monospace;
    font-weight: bold;
    height: 2.3em;
    padding: .5em;
}


.form-check {
    padding: .2em;
}

.form-check-label,
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#pedido .btn {
    background-color: #eaff32;
    border-radius: 1px;
    color: #3b3b3b;
    font-family: monospace;
    font-weight: bold;
    margin-left: 2em;
    width: 8em;
}

#pedido .btn:hover {
    background-color: #ffffff;
    color: #000;
}

/* footer / contato */

footer {
    background-color: #eaff32;
    margin-top: 2em;
    padding: 3em;
}

.title-contato::before {
    border-top: 4px solid rgb(0, 0, 0);
    bottom: 2em;
    content: "";
    position: absolute;
    width: 75px;
}

.title-contato {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.9em;
    font-weight: 600;
    margin-bottom: 0.4em;
    position: relative;
    text-shadow: .2px .5px rgb(255, 255, 255);
}

.subtitle-contato {
    font-size: 1.5em;

}

.card-contato {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#social-icons {
    display: flex;
    font-size: 2em;
    margin: auto;
}

#social-icons i {
    padding: .2em;
}

.info-contato {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info-contato span a {
    color: #3b3b3b;
    font-size: 1.4em;
    font-weight: bold;
}

#contato p {
    font-size: 1.3em;
    margin-top: .5em;
}

@media (min-width: 768px) {
    #slider .carousel-caption {
        bottom: 15em;
    }

    #slider .carousel-caption h5 {
        font-size: 4em;
        text-shadow: 2px 3px #000;
    }

    #slider .btn {
        font-size: 1.2em;
        margin-top: 1em;
        padding: 0.6em 1.6em;
    }

    .carousel-indicators {
        bottom: 7em;
    }

    /*mini banner*/

    #mini-banners {
        margin-top: -6em;
    }

    /* contato */

    .title {
        font-size: 2.4em;
    }

    .title::before {
        bottom: 1.5em;
    }

    .dropdown .btn {
        align-content: center;
        background-color: #f4f4f4;
        color: #000;
        font-weight: bold;
        margin-left: 10em;
        margin-right: 6em;
    }

    .dropdown-item {
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    #cart-images .banner-content {
        opacity: 0;
    }

    .img-items {
        border-radius: 100%;
        height: 360px;
        width: 350px;
    }

    .banner-content h3 {
        color: #000000;
        font-size: 1.55em;
        font-weight: bold;
        padding: 0 2em;
        text-shadow: 1px 1px 1px rgb(229, 232, 35);
    }

    .banner-content p {
        color: #ffffff;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);

    }

    .banner-content h3,
    p {
        font-family: monospace;
        text-align: center;
    }

    /*footer*/

    footer {
        background-color: #eaff32;
        margin-top: 2em;
    }

    .card-contato {
        display: flex;
        flex-direction: row;
    }

    #social-icons {
        display: flex;
        font-size: 2em;
        margin-left: 15em;        
        width: auto;
    }

    #social-icons i {
        cursor: pointer;
        padding: .2em;
    }

    #social-icons i:hover {
        color: white;
    }

    .info-contato {
        display: flex;
        width: 60%;
    }

    .info-contato span a {
        color: #3b3b3b;
        font-size: 1.4em;
        font-weight: 600;
        margin-right: 10em;
    }

    #contato p {
        font-size: 1.3em;
        margin-top: .5em;
    }
}